*{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #a6dcef;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 75%;
}
.rest_img{
    height:350px;
    width: 500px;
}
table{
    margin-left: 12.5%;
    width: 75%;
    padding: 10px;
}
.menu{
    height: 100px;
    width: 50px;
}
#link>a{
    height: 100px;
    width: 200px;
    background-color: #f2aaaa;
    padding: 40px 30px 40px 30px;
}